:root{
    --primary-color:#2d2942 ;
    --secondary-color: #fb3a26;
    --tetiary-color: #ffc344;
    --accent-color: #d1d4d7;
    --big-font-size: 3rem;
    --small-font-size: 1.6rem ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/* Logins Section */
.logins{
    height: 100%;
}
.logins .login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logins .login .login-head img{
    width: 20rem;
}
.login .login-body .form-label{
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--primary-color);
}
.login .login-body .form-control{
    width: 30rem;
    height: 3.5rem;
    font-size: 1.3rem;
    color: var(--primary-color);
}
.login .sameline{
    display: flex;
}
.login .sameline .form-check{
    margin: 1rem 3rem 0rem 0rem;
    font-size: 1.3rem;
}
.login .sameline .forgetpass{
    margin: 1rem 0rem 0rem 3rem;
}
.login .sameline .forgetpass a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3rem;
}
.login .sameline .forgetpass a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

.logins .signup{
    margin-top: 5rem;
}
.logins .signup p{
    font-size: var(--small-font-size);
    color: var(--primary-color);
}
.logins .signup a{
    text-decoration: none;
    color: var(--primary-color);
}
.logins .signup a:hover{
    text-decoration: underline;
    color: var(--secondary-color);
}

.logins .cover img{
   display: none;
}

@media screen and (min-width:768px) {
    .logins{
        display: flex;
    }
    .logins .cover .img img{
        width: 100%;
        height: 100vh;
        display: block;
        opacity: 40%;
     }
     .cover .carousel{
        position: absolute;
        top: 0%;
        left: 45%;
     }
     .cover .register .carousel {
        position: absolute;
        top: 0%;
        left: 3%;
     }
     .cover .carousel .carousel-item{
        width: 100%;
     }

     .cover .carousel .carousel-item img{
        width: 65rem;
        height: 90vh;
        display: inline-block;
    } 

}