:root{
    --primary-color:#2d2942 ;
    --secondary-color: #fb3a26;
    --tetiary-color: #ffc344;
    --accent-color: #d1d4d7;
    --big-font-size: 3rem;
    --small-font-size: 1.6rem ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

h2{
    font-size: var(--big-font-size);
}

/* Navigation bar */
.navbar{
   max-height: 10vh;
    box-shadow: 0 0 2px 2px var(--tetiary-color);
}
.navbar .navbar-brand a{
    font-size: var(--big-font-size);
}
.navbar .navbar-brand img{
    width: 100px;
    margin: 0rem;
}
.navbar .navbar-nav .nav-item{
    font-size: var(--small-font-size);
    margin: 0rem 2rem;
}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--secondary-color);
    text-decoration: underline;
    transition: all 1.5s ease;
}
.navbar .collapse{
    background: var(--primary-color);
    transition: all 0.5s ease;
    z-index: 11;
    /* height: 14rem; */
}
@media screen and (min-width:990) {
    .navbar .collapse{
        height: none;
    }
}


/* Hero section */
.hero{
    height: 90vh;
    background: linear-gradient(to bottom right, #2d2942f2,#4b417bf2), url('/assert/Images/classbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 10rem;
    padding: 1rem;
}
.hero .hero-intro h2{
    margin: 5rem 0rem 0rem 0rem;
    font-size: var(--big-font-size);
    font-weight: 600;
    color: var(--accent-color);
    text-transform: capitalize;
}
.hero .hero-intro p{
    margin: 1.2rem 0rem 0rem 0rem;
    font-size: var(--small-font-size);
    color: var(--tetiary-color);
}

/* .hero .hero-img {
    width: 40rem;
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.hero .hero-img img{
    width: 40rem;
    margin-top: 1rem;
}

@media screen and (min-width:768px) {
    .hero{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom-right-radius: 15rem;
    }
    .hero .hero-intro h2{
        font-size: 3rem;
        margin: 0rem 0rem 3rem 0rem;
    }
    .hero .hero-intro {
        font-size: 3rem;
        margin: 0rem 0rem 3rem 0rem;
    }
}
/* Features */
.feature-head h2{
   margin: 3rem 0rem;
   font-size: var(--big-font-size);
   font-weight: 600;
   color: var(--primary-color);
}
#features{
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#features .feature-card{
   width: 25rem;
   height: 30rem;
   padding: 1rem;
   text-align: center;
   margin-bottom: 3.5rem;
   box-shadow: 0 0 20px 2px #2d29424d;
   border-radius: 2rem;
}
.feature-card .feature-img img{
    width: 8rem;
    margin-top: 2rem;
} 
.feature-card .feature-text h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--tetiary-color);
}
.feature-card .feature-text p{
    font-size: var(--small-font-size);
}

.feature-card .feature-text h3,
.feature-card .feature-text p{
    margin-top:1rem;
}


@media screen and (min-width:768px) {
    #features{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .feature-card{
        margin: 0rem .5rem 0rem .5rem;
    }
    .feature-card .feature-text h3{
        font-size: 2.3rem;
    }
    .feature-card .feature-text p{
        font-size: 1.6rem;
    }
}



/* Works */
.about{
    height: 100%;
    padding: 2rem;
    background: linear-gradient(to bottom right, #2d2942,#4b417b);
    border-top-left-radius: 10rem;
}
.about .about-head h2{
   margin: 3rem 0rem;
   font-size: var(--big-font-size);
   font-weight: 600;
   color: var(--accent-color);
}
.about .about-head p{
    margin: 2.5rem 3rem;
    font-size: var(--small-font-size);
    color: var(--tetiary-color);
 }
#about .info{
    text-align: center;
    margin: 3rem 0rem ;
}

#about .info .img img{
    width: 20rem;
    border: 3px solid var(--tetiary-color);
    border-radius: 50%;
    margin: 0rem 0rem 2rem 0rem;
}
#about .info .text h4,
#about .info .text p{
    font-size: var(--small-font-size);
    color: var(--accent-color);
}
#about .info .text h4{
    font-weight: 500;
}
#about .info .text p{
    font-size: var(--small-font-size);
    color: var(--tetiary-color);
    opacity: 70%;
}
@media screen and (min-width:768px) {
    #about{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .about{
        border-top-left-radius: 15rem;
    }
}
.call{
    height: 100%;
    background: var(--tetiary-color);
}

/* Footer */
.footer{
    height: 10vh;
    font-size: var(--big-font-size);
    background: var(--primary-color);
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}